@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0, 0%, 100%;
      --foreground: 195, 73%, 38%;

      --card: 0, 0%, 94%;
      --card-foreground: 0, 0%, 37%;

      --popover: 222.2, 84%, 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 195, 73%, 38%;
      --primary-foreground: 0, 0%, 100%;

      --secondary: 195, 72%, 24%;
      --secondary-foreground: 195, 72%, 24%;

      --muted: 0, 0%, 100%;
      --muted-foreground: 195, 73%, 38%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 0 0% 100%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 195, 73%, 38%;  
      --input: 195, 73%, 38%;
      --ring: 224.3 76.3% 48%;

      --radius: 0.9rem;

      --sidebar-background: 0 0% 98%;

      --sidebar-foreground: 240 5.3% 26.1%;

      --sidebar-primary: 240 5.9% 10%;

      --sidebar-primary-foreground: 0 0% 98%;

      --sidebar-accent: 240 4.8% 95.9%;

      --sidebar-accent-foreground: 240 5.9% 10%;

      --sidebar-border: 220 13% 91%;

      --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0, 0%, 0%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
      --sidebar-background: 240 5.9% 10%;
      --sidebar-foreground: 240 4.8% 95.9%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 240 3.7% 15.9%;
      --sidebar-accent-foreground: 240 4.8% 95.9%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    h1 {
      @apply scroll-m-20 text-2xl sm:text-4xl font-extrabold tracking-tight md:text-5xl;
    }
    h2 {
      @apply scroll-m-20 text-3xl font-bold tracking-tight first:mt-0 text-black;
    }
    h3 {
      @apply scroll-m-20 text-xl font-medium  tracking-tight;
    }
    p {
      @apply leading-7 [&:not(:first-child)]:mt-6 text-black;
    }

    a.block {
      flex: 1 0 200px;
      flex-wrap: wrap;
    }
    main.container {
      margin:0;
      padding: 0;
      overflow-x: hidden;
    }  
    .mobile-nav {
      backdrop-filter: blur(10px);
    }
    
    /* @media (max-width: 767px) {
      a.block {
        width: 50%;
        padding: 2rem;
      }
    } */
    .scrollbar-none {
      scrollbar-width: none; /* Firefox */
    }
    
    .scrollbar-none::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
    }



}